
  <!-- ####################################################################################################### -->
  <div class="wrapper col1 th-5" style="padding-top:20px;">
    <div id="header">
      <div id="logo">
        <h1><a href="index.html">Harry Potter</a></h1>
        <p>Fan Page Wiki</p>
      </div>
      <div class="fl_right">
        <ul>
          <li class="last"><a href="https://www.google.com">Search</a></li>
          <li><a href="https://www.ict.edu.rs/">Online Support</a></li>
          <li><a href="https://www.ict.edu.rs/">School Board</a></li>
        </ul>
        <p>Tel: 061234567891 | Mail: djordje.stojcic.173.16&#64;ict.edu.rs</p>
      </div>
      <br class="clear" />
    </div>
  </div>
  <!-- ####################################################################################################### -->
  <div class="wrapper col2">
    <div id="topnav">
      <ul>
        <li><a routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/books">Books</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/movies">Movies</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/characters">Characters</a></li>
      </ul>
    </div>
  </div>
  <!-- ####################################################################################################### -->
