<div class="wrapper col5">
    <div id="footer">
      <div id="newsletter">
        <h2>Subscribe to a news letter!</h2>
        <p>Please enter your email to join our mailing list</p>
          <fieldset>
            <legend>News Letter</legend>
            <input type="text"[(ngModel)]="email"/>
            <input type="submit" name="news_go" id="news_go" value="GO" />
          </fieldset>
        <p>To unsubscribe please <a href="#">click here &raquo;</a></p>
      </div>
      <p>Just to show 2 way data binding: {{email}}</p>
      <br class="clear" />
    </div>
  </div>
  <!-- ####################################################################################################### -->
  <div class="wrapper col6">
    <div id="copyright">
      <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - Đorđe Stojčić</p>
      <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      <br class="clear" />
    </div>
  </div>
<script type="text/javascript" src="assets/layout/scripts/jquery.min.js"></script>
<script type="text/javascript" src="assets/layout/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="assets/layout/scripts/jquery.ui.min.js"></script>
<script type="text/javascript" src="assets/layout/scripts/jquery.tabs.setup.js"></script>
